<meta charset="UTF-8">
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,500&display=swap&subset=cyrillic" rel="stylesheet">
<link rel="stylesheet" href="../assets/css/style.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
$(document).ready(function(){
			$(".about-me__btn").click(function(){
		    $(".about-me").toggle();
            });
            $(".about-add__btn").click(function(){
		    $(".about-add").toggle();
            });
            $(".show-testimonials").click(function(){
		    $(".hide").toggle();
            });
            $(".show-btn").click(function(){
		    $(".hide-img").toggle();
            });
          });
		</script>
<title>{{ title }}</title>